@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

:root{
    --col2 : rgb(255, 255, 255);
    --col4 : rgba(0, 0, 0, 0.795) ; 
    --col5 : rgba(126, 113, 113, 0.8) ; 
    --border : rgb( 0 , 0 , 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sigmar', cursive;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.experience {
    width: 100%;
    height: 100%;
}


.login-container {
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 10cm;
    height: 20cm;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, -50%);
    display: none;
}

.signup-container {
    border-radius: 10px;
    border: 2px solid var(--border);
    width: 10cm;
    height: 20cm;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, -50%);
    display: none;
}

.ls-1 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--col2);
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.ls-2 {
    height: 80%;
    background-color: var(--col4);
    border: 1px solid var(--border);
}

.ls-3 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 10%;
    background-color: var(--col2);
    ;
}

.loginForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: scroll;
}

.loginForm::-webkit-scrollbar{
    display: none;
}

.login-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.login-icons {
    margin-right: 10px;
}


nav {
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 2cm;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 0.5vw;
    z-index: 5;
    transform: translate( 0 , -50%);
    display: none;
}

.nb1 {
    height: 5%;
    background-color:  var(--col2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nb2 {
    background-color:var(--col4);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    border: 1px solid var(--col2);
}

.nb2::-webkit-scrollbar {
    display: none;
}

.nb3 {
    height: 5%;
    background-color: var(--col2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-dot-container {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    vertical-align: baseline;
    width: 50%;
}

.threeDots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.Logo-container {
    height: 80%;
}

.dot1 {
    border: 2px solid  var(--col4);
    background-color: red;
}

.dot2 {
    border: 2px solid  var(--col4);
    background-color: rgb(251, 255, 0);
}

.dot3 {
    border: 2px solid  var(--col4);
    background-color: rgb(0, 255, 30);
}

.icons {
    font-size: 30px;
    color: var(--col2);
    margin-top: 1vh;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid  var(--col2);
}

.icons:hover {
    background-color: var(--col5);
}

.login-three-dots {
    width: 10%;
    display: flex;
}

/* string-eye-styling */
.string-and-eye {
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 80%;
    height: 1.5cm;
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0; 
    left : 50% ;
    z-index: 5;
    transform: translate(-50%);
    margin-top: 10px;
    display: none;
}

.sae-section-1 {
    background-color: var(--col2);
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.sae-section-2 {
    background-color:var(--col4);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    border: 1px solid var(--border);
}

.sae-section-3 {
    background-color:  var(--col2);
    width: 5%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.sae-three-dots-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: space-evenly;
}

.string-flash {
    color: white;
    margin-left: 10px ;
    font-size: 0.5cm;
}

/* stats-box-styling  */


.stats-box{
    border: 2px solid var(--col4);
    border-radius: 10px ;
    position: absolute;
    top: 50%;
    right: 0;
    width: 10cm;
    transform: translate( 0 , -50%);
    height: 80%;
    margin-right: 10px;
    display: none;
}

.stats-box-s1{
    background-color: var(--col2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats-box-s2{
    border: 1px solid var(--border);
    background-color:var(--col4);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats-box-s3{
    background-color: var(--col2) ;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 5% ;
}

.stats{
    color: white;
    font-size:x-large;
}
.stb-three-dot-container{
    width: 1cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p5-video{
    width: 100%;
}

.stat-box-contenet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    width: 100%;
}

.stat-icon-inp-wrapper{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loader-container{
    width: 1cm;
    height: 1cm;
    position: absolute;
    top:50% ;
    left:50% ;
    transform: translate(-50%,-50%); 
    z-index: 10;
}

.round-loader-outer{
    width: 5cm;
    height: 5cm;
    background-color: var(--col2);
    position: relative;
    top:50% ;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
    border: 2px solid  var(--col2);
    z-index: 1;
    overflow: hidden;
    border: 2px solid white;
}

.round-loader-inner{
    position: relative;
    width:80%;
    height:80%;
    border-radius: 50%;
    background-color: var(--col4);
    left: 50%;
    top: 50%;
    transform:rotate(0deg) translate(-50%,-50%);
    z-index: 3;
    border: 2px solid var(--border);
}

.loader-rbar{
    background-color: var(--col4);
    width: 100%;
    height: 51%;
    position: absolute;
    top:50%;
    transform: rotate(0deg) ;
    transform-origin: top center;
    animation-name: rbar;
    animation-duration: 2s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rbar{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.dot-con-l{
    width : 50%;
    height: 1cm;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.graph-parent{
    width: 50% !important;
    height: 50% !important;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 7;
    transform: translate( -50% , -50%);
    display: none;
    background-color: var(--col4);
}